.HomeContainer {
  background-color: #fff;
  height: 80vh;
  width: 60vw;
  overflow: scroll;
  border-radius: 1.2%;
  display: flex;
  flex-direction: column;
}
.SearchInput {
  /* background-color: pink; */
  width: 98%;
  padding: 1.5vh 0vh;
  border: none;
  border-bottom: 1px solid #c9c9c980;
  align-self: center;
  font-size: 2vh;
  font-family: "Raleway", sans-serif;
  outline: none;
}
